*{
    padding: 0;
    margin: 0;
}

.body{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ysabeau', sans-serif;
}

.banner{
    background-image: url(bacground.jpg);
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    position: fixed;
    z-index: 5;
}

.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding:   32px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    border-radius: 50%;
    cursor: pointer; 
}

.navbar ul li{
    list-style-type: none;
    margin: 0 25px;
    color: rgb(7, 0, 0);
    transition: color 1s;
    font-size: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: BL;
    
}
.navbar ul li:hover{
    color:  aqua

}

.info{
    width: 100%;
    position: absolute;
    top: 40%;
    color: rgb(215, 15, 15);
    text-align: center;
    font-size: large;
    
}

.info h1{
    font-size: 65px;
}

.info p{
    margin: 20px auto;
}

.ulaşma{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    margin: 25px;
    color: rgb(255, 0, 212);
    font-weight: 550;   
}

.ulaşma:hover{
    color: paleturquoise
}

.form{
    text-align: center;
    font-size: 44px;
    color: black;

}

.iletisimbolumu{
    width: 600px;
    margin: auto;
}

.iletisimbolumu label ,
.iletisimbolumu input ,
.iletisimbolumu select{
    display: block;
    width: 100%;
    margin-top: 30px;

}


.iletisimbolumu button[type=submit]{
    display: block;
    margin-top: 35px;
}

.iletisimbolumu input,
.iletisimbolumu select{
    border: 2px solid #000;
    padding: 5px 5px;
}
.input:focus{
        outline: none;
        border: 2px solid red;
        color:black
}

.iletisimbolumu input[id=mesaj]{
    padding: 100px 100px;
}

.iletisimbolumu{
    padding-top: 2%;
}

label{
    font-size: 28px;
}
.ulaşma2{
    width: 180px;
    padding: 15px 0;
    border-radius: 35px;   
    margin: 20px;
    text-align: center;
    color: rgb(8, 0, 8);
    background-color: white;
    font-weight: 600;
    cursor: pointer;font-size: 16px;    
    margin-left: 250px;
}